
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#FFEDFA;
    --color-secundario:#E195AB;
    --color-terciario:#DE3163;
    --color-hover:#CCDF92;

    --fuente-montserrat:"Montserrat", serif;
    --fuente-krona:"Krona One", serif;

    --tamaño-fuente-contenido-texto: 1.5rem;
}

* {
    padding: 0;
    margin:0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
   /* height: 100vh; "para ocupar el 100% de la pantalla*/
    /*box-sizing: border-box;*/
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
   display: flex; 
   gap: 5rem;
}

.header__menu__link {
    font-family:var(--fuente-montserrat);
    font-size: 1.5rem; /* 1rem = 16px => 1.5rem = 24px*/
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
 }

.header__menu__link:hover {
    color: var(--color-hover);
    cursor: pointer;
 }

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%; /* 615px = 38.4rem*/
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.presentacion__contenido__titulo {
    font-size: 2.25rem; /* 1rem = 16px */
    font-family:var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: var(--tamaño-fuente-contenido-texto);
    font-family: var(--fuente-montserrat);
}

.presentacion__enlace {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.presentacion__enlace__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlace__link {
   width:50%; /* 378px*/
   text-align: center;
   padding: 1.35rem 0;
   border-radius: 0.5rem;
   font-family: var(--fuente-montserrat);
   font-size: 1.5rem;
   font-weight: 600;
   text-decoration: none;
   color:var(--color-secundario);
   border: 2px solid var(--color-terciario);
   display:flex;
   justify-content: center;
   gap: 1.125remx;
 }
 /*hover para que el botón cambie de color al pasar el mouse*/
 .presentacion__enlace__link:hover { 
    background-color: var(--color-primario);
    font-size: 1.75rem;
    color:var(--color-terciario);
    padding: 3%;
    border: 6px solid var(--color-hover);
    cursor:help; /*no responde con el "pointer"*/
 }
 .fotografia{
    width: 50%;
 }
/*
 .fotografia:hover {
    width: 28rem;
    height:28rem;
    object-fit: cover;
    border-radius: 50%;
 } */
 
 .footer {
    font-family:var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--color-primario);
    padding: 1.5rem;
    text-align: center;
    background-color: var(--color-terciario);
 }
 